@import "tailwindcss";

@theme {
  --color-binance-yellow: #f9b916;
  --color-binance-dark: #333333;
  --color-binance-teal: #3b94a3;
  --color-binance-cream: #f4eadb;
  --color-binance-orange: #dc8020;
  --color-binance-red: #F6465D;
  --color-binance-green: #0ECB81;
}

